@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
         url('/fonts/Poppins-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2'),
         url('/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(8, 183, 131, 0.7);
    }
    70% {
        box-shadow: 0 0 0 25px rgba(8, 183, 131, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(8, 183, 131, 0);
    }
}

.pulse-effect {
    position: relative;
    display: inline-block;
    animation: pulse 2s infinite;
    border-radius: 50%;
    transition: transform 0.2s;
}

#map {
    height: 100vh; /* Assurez-vous que la hauteur est 100% de la hauteur de la fenêtre */
    width: 100vw; /* Assurez-vous que la largeur est 100% de la largeur de la fenêtre */
}
